body{
    margin: 0;
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #f23557;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    box-sizing: border-box;
    display:block;
    font-size: 27px;
}

input, select, button,textarea {
    box-sizing: border-box;
    display:block;
    background:#22b2da;
    color: #f0d43a;
    width: 100%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

input, select{
    height: 60px;
}

button{
    height: 100px;
    background: #3b4a6b;
    font-size: 26px;
    box-shadow: 2px 4px 5px #444;
}

h1{
    font-size: 36px;
}


/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

/* Custom app styling*/
#app{
    padding: 0 5px;
    display: grid;
    grid-template-areas: "hd" "main";
    color: #f0d43a;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.box{
    box-sizing: border-box;
}

.headline {
    grid-area: hd;
}

.main {
    grid-area: main;
}

.weatherData {
    position: relative;
    min-height: 250px;
    width: 98vw;
    background-color: white;
}

.location {
    display: flex;
    flex-direction: column;
}

.personalData {
    display: flex;
    flex-direction: column;
}

.entry{
    background: rgba(59, 74, 107, 0.4);
}

.margin-vertical {
    margin: 20px 0;
}

@media (min-width: 600px) {
    .location {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .personalData {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .zip, .countryCode, .feel, .submitBtn {
        width: 48%;
    }

}

@media (min-width: 900px) {
    #app{
        grid-template-columns: auto 900px auto;
        grid-template-areas: "lb hd rb" "lb main rb";
        justify-content: center;
    }

    .weatherData {
        width: 900px;
    }
}

